#right-eye,
#left-eye {
  animation: looking 3s ease infinite alternate;
}

#right-ear,
#left-ear {
  transition: all .5s ease-out;
}

#bear:hover #right-ear,
#bear:hover #left-ear {
  transform: translateY(-15px);
}

@keyframes looking {

  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}
